<ion-header class="bg-[#6400a0]" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span class="flex justify-between   items-center flex-wrap lg:text-[3rem] md:text-base">
        <span>ESICM Congress 2022 Quiz on Clinical accessoires</span>
        <img src="../../assets/icon/logo.svg" class="text-base inline w-[200px] lg:w-[250px]" />
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- étape 1 To win a gift, please try to answer to these 3 questions correctly on our Clinical Accessories : -->
  <div class="flex items-center flex-col-reverse h-full">

    <ng-container *ngIf="step===1">
      <!-- container -->
      <div class="w-full flex-1 flex flex-col mt-14 items-center   ">
        <!-- question -->
        <span class="overflow-hidden  px-16 text-center">To win a gift, please try to answer to these 3
          questions correctly on our Clinical Accessories :
        </span>
        <div class="flex-1 flex justify-center items-center">
          <ion-button (click)="fnext()">Start</ion-button>
        </div>
      </div>

    </ng-container>


    <ng-container *ngIf="step===2">
      <!-- container -->
      <div class=" w-full flex-1 flex flex-col  ">
        <ion-icon name="arrow-back-outline" class="p-8 text-[24px]" (click)="fprev()"></ion-icon>

        <!-- question -->
        <div class="flex flex-col   items-center flex-1">
          <span class="overflow-hidden  px-16 text-center">Which one is a GE proprietary SpO2 technology?
            (Select the right answer)
          </span>
        <div class="flex-1 flex flex-col justify-center gap-9 items-center">

          <ion-radio-group class="flex flex-col gap-4" [value]="rep[1].rep">
            <ion-radio value="A" (ionFocus)="SelectRep($event)"><span>a. TruSignal TS-AF</span></ion-radio>
            <ion-radio value="B" (ionFocus)="SelectRep($event)"><span>b. Nellcor MAXN</span></ion-radio>
            <ion-radio value="C" (ionFocus)="SelectRep($event)"><span>c. Massimo Rainbow 4003 RD-Set</span></ion-radio>
          </ion-radio-group>
          <ion-button (click)="fnext()">next</ion-button>
        </div>
      </div>
    </div>

    </ng-container>



    <ng-container *ngIf="step===3">
      <!-- container -->
      <div class=" w-full flex-1 flex flex-col  ">
        <ion-icon name="arrow-back-outline" class="p-8 text-[24px]" (click)="fprev()"></ion-icon>

        <!-- question -->
        <div class="flex flex-col justify-center gap-9 items-center flex-1">
          <span class="overflow-hidden  px-16 text-center">Do you know if GE NIBP Cuff can be used with other
            monitors ?
          </span>
          <ion-radio-group class="flex flex-col gap-4" [value]="rep[2].rep">
            <ion-radio value="A" (ionFocus)="SelectRep($event)"><span>a. Yes</span></ion-radio>
            <ion-radio value="B" (ionFocus)="SelectRep($event)"><span>b. No</span></ion-radio>
          </ion-radio-group>
          <ion-button (click)="fnext()">next</ion-button>
        </div>
      </div>

    </ng-container>



    <ng-container *ngIf="step===4">

      <!-- container -->
      <div class=" w-full flex-1 flex flex-col  ">
        <ion-icon name="arrow-back-outline" class="p-8 text-[24px]" (click)="fprev()"></ion-icon>

        <!-- question -->
        <div class="flex flex-col justify-center gap-9 items-center flex-1">
          <span class="overflow-hidden  px-16 text-center">NMT is used for : (Select the right answer)
          </span>
          <ion-radio-group class="flex flex-col gap-4" [value]="rep[3].rep">
            <ion-radio value="A" (ionFocus)="SelectRep($event)"><span>a. Patient response to surgical stimuli and analgesic
              medications</span></ion-radio>
            <ion-radio value="B" (ionFocus)="SelectRep($event)"><span>b. Depth of anaesthesia monitoring</span></ion-radio>
            <ion-radio value="C" (ionFocus)="SelectRep($event)"><span>c. Neuromuscular blockage monitoring</span></ion-radio>
          </ion-radio-group>
          <ion-button (click)="fnext()">next</ion-button>
        </div>
      </div>



    </ng-container>


    <ng-container *ngIf="step===5">

      <!-- container -->
      <div class="w-full flex-1 flex flex-col ">
        <ion-icon name="arrow-back-outline" class="p-8 text-[24px]" (click)="fprev()"></ion-icon>

        <!-- question -->
        <div class="flex flex-col justify-center gap-9 items-center flex-1">
          <span class="overflow-hidden  px-16 text-center">Thanks ! 
          </span>
          <span class="overflow-hidden  px-16 text-center">Go on fasteLeads :
          </span>
          <ion-button (click)="gotofasteleads()">fasteLeads</ion-button>

        </div>
      </div>



    </ng-container>

    <div class="flex-grow self-stretch bg-no-repeat bg-cover" [ngStyle]="{'background-image': 'url(' + imgsrc + ')'}">
    </div>
    <!-- <img class="object-cover flex-grow self-stretch" [src]="imgsrc" alt="gelogo"> -->


  </div>
</ion-content>
